<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="box">
    <h2>登录</h2>
    <form class="form-box">
        <div class="inputBox">
            <input type="text" name="" required="">
            <label>用户名</label>
        </div>
        <div class="inputBox">
            <input type="password" name="" required="">
            <label>密码</label>
        </div>
        <input type="submit" name="" value="确认">

    </form>
</div>
</body>
</html>
